---
layout: layouts/base.njk
title: Work Experience
permalink: /experience/
eleventyExcludeFromCollections: true
---
<meta http-equiv="refresh" content="0; url=/work/" />
<script>window.location.replace('/work/');</script>
<p>Redirecting to <a href="/work/">Case Studies</a>...</p>
